* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 10rem;
}

.App {
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

